.fontStyle1
{
	font-size: 12px;
	text-align: center;
	color:#225588;
	font:"ו";
	letter-spacing:2px;
}

.fontStyle2
{
	font-size: 12px;
	text-align: center;
	color:#225588;
	font:"ו";
}

.superMapfont{
	font-size: 12px;
	text-align: center;
	color:#58AB58 ;
	font:"ו";
}